/* =====================================================    */
/* 商城模板搜索列表页样式表									*/
/* =====================================================    */
.slider-banner img{
	width:100%;
}


/* 热销推荐块*/
.nch-hot-sale { position: relative; z-index: 1; background-color: #F5F5F5; margin-top: 10px; border: solid 1px #F0F0F0;}
.nch-hot-sale .title-tag { position: absolute; z-index: 1; top: -1px; left: 25px; width: 30px; padding: 5px 5px 10px 5px; border-radius: 0 0 20px 20px; text-align: center; font-size: 16px; color: #FFF;background-color: #e65c17;}
.nch-hot-sale ul { display: block; overflow: hidden; padding: 15px 0 15px 100px;}
.nch-hot-sale ul li { float: left; width: 230px; padding: 7px; background-color: #FFF; margin-right: 30px;}
.nch-hot-sale ul li a { display: block;}
.nch-hot-sale ul li .goods-pic { width: 100px; height: 100px; float: left;}
.nch-hot-sale ul li .goods-info { width: 120px; float: right;}
.nch-hot-sale ul li .goods-info dt { line-height: 16px; width: 100%; height: 32px; overflow: hidden; color: #777;}
.nch-hot-sale ul li .goods-info dt:hover { color: #333;}
.nch-hot-sale ul li .goods-info .goods-price { color: #e65c17; line-height: 20px; white-space: nowrap; height: 20px; margin: 5px 0; font-family: Verdana, Tahoma; overflow: hidden;}
.nch-hot-sale ul li .goods-info .goods-price em { font-size: 14px; font-weight: bold;}
.nch-hot-sale ul li .goods-info .buy-btn { display: inline-block; *display: inline; *zoom: 1; background-color: #F2F2F2; border: solid 1px #D7D7D7; height: 24px; padding: 0 14px; border-radius: 2px; line-height: 24px; color: #444; }
.nch-hot-sale ul li .goods-info .buy-btn:hover { text-decoration: none; background-color: #F5F5F5;}

/* 面包屑所在位置*/
.nch-breadcrumb-layout { text-align: center; min-height: 26px; padding: 10px 0; margin: 0 auto;}
.nch-breadcrumb { font-size: 0; *word-spacing:-1px/*IE6、7*/; min-height: 26px; float: left; margin: 0 8px 5px 0; padding: 0; line-height: 26px;}
.nch-breadcrumb .sort-box { position: relative; z-index: 1; display: inline-block; *display: inline; *zoom: 1; height: 26px; }
.nch-breadcrumb .sort-box:hover { z-index: 3;}
.nch-breadcrumb .sort-box .current { position: relative; z-index: 2; display: block; height: 22px; border: solid 1px #E6E6E6; padding: 1px 7px; background-color: #FFF; line-height: 20px; color: #555; }
.nch-breadcrumb .sort-box .current .drop-arrow { display: inline-block; width: 20px; height: 20px; margin: 1px 0 0 4px ; vertical-align: top; background: url(../img/search.ele.png) no-repeat 4px 7px;  -webkit-transition: background-position .15s ease-in-out; -moz-transition: background-position .15s ease-in-out; transition: background-position .15s ease-in-out;}
.nch-breadcrumb .sort-box:hover .current { padding: 1px 7px 2px 7px; border-width: 1px 1px 0 1px; border-color: #e65c17;}
.nch-breadcrumb .sort-box:hover .current .drop-arrow { background-position: 4px -44px;}
.nch-breadcrumb .sort-sub { display: none; position: absolute; z-index: -1; top: 25px; left: 0; width: 348px; background-color: #FFF; border: solid 1px #e65c17;}
.nch-breadcrumb .sort-box:hover .sort-sub { display: block;}
.nch-breadcrumb .sort-sub ul { font-size: 0; *word-spacing:-1px/*IE6、7*/; padding: 5px;}
.nch-breadcrumb .sort-sub li { display: inline-block; *display: inline; *zoom: 1; width: 18%; height: 24px; padding: 0 1%; font-size: 12px; }
.nch-breadcrumb .sort-sub li a { display: block; color: #555; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;line-height: 24px;}

.selected-box { display: block; font-size: 0; *word-spacing:-1px/*IE6、7*/; float: left; min-height: 26px; text-align: left; margin-right: 100px;}
.selected-box .selected { display: inline-block; *display: inline; *zoom: 1; padding: 0 0 0 7px; margin-right: 7px; border: solid 1px #E6E6E6; line-height: 24px; font-size: 12px;}
.selected-box .selected em { display: inline-block; vertical-align: top; margin-right: 7px; color: #e65c17;}
.selected-box .selected i { display: inline-block; width: 25px; height: 24px; background: url(../img/search.ele.png) no-repeat 7px -139px;vertical-align: top;}
.selected-box .selected:hover { border-color: #e65c17;}
.selected-box .selected:hover i { background-color: #e65c17; background-position: 7px -157px;}

.select-undo { float: right;}
.select-undo a { border: solid 1px #D7D7D7; background-color: #F2F2F2; line-height: 24px; padding: 0 14px; border-radius: 2px; display: block; color: #444;}
.select-undo a:hover { color: #444; box-shadow: 0 1px 1px rgba(0,0,0,0.05);}

/* 搜索列表页面规格值过滤条件*/
.selector { margin-bottom: 10px;}
.selector .title { display: block; height: 24px; padding: 6px 10px; border: solid #DDD; border-width: 1px; background-color: #F2F2F2; line-height: 20px;}
.selector .content { overflow: hidden; background-color: #FFF; position: relative; z-index: 1;}
.selector .content dl { position: relative; z-index: 1; display: block; clear: both; margin: 0; border-bottom: solid 1px #DDD;}
.selector .content dl dt { position: absolute; z-index: 2; top: 0; left: 0; bottom: 0; width: 70px; border-right: solid 1px #E6E6E6; line-height: 24px; color: #777; padding: 6px 0 6px 10px; background-color: #FAFAFA;}

.selector .content dl dd.list { position: relative; z-index: 1; margin: 0 136px 0 81px; padding: 6px 10px; background-color: #FFF;}

.selector .content dl dd.attr-item{height: 22px;}
.selector .content dl dd.ext-more ul{height: auto}
.selector .content dl dd.attr-select{height: 22px }
.selector .content dl dd.ext-select ul{height: auto}
.special{height: auto!important;}


.selector .content dl dd.all { position: absolute; z-index: 2; top: 0; right: 76px; bottom: 0; width: 70px; text-align: right; padding: 9px 10px 0px 0; background-color: #FFF;}
.selector .content dl dd.list ul { font-size: 0;  word-spacing:-1em;}
.selector .content dl dd.list ul li {position:relative; vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block; *display: inline/*IE6,7*/; *zoom: 1; height: 24px; margin-right: 40px;}
.selector .content dl dd.list ul li a {cursor: pointer; font-size: 12px; line-height: 24px; color: #000; display: inline-block;}
.selector .content dl dd.list ul li a i{background: #fff url(../img/right.png) no-repeat 999px 999px;cursor: pointer; vertical-align: middle; width: 12px; height: 12px; border:1px solid #e4e4e4; margin-right:5px; display: inline-block;}
.selector .content dl dd.list ul li a.bg-select{color: #0B56A4 }
.selector .content dl dd.list ul li a.bg-select i{background-position: 0px 0px; border-color:#0B56A4 }
.selector .content dl dd.list ul li i:hover{border-color:#0B56A4 }
.selector .content dl dd.list ul li a:hover{ color: #0B56A4;}
.selector .content dl dd.list ul li a:hover i{border-color:#0B56A4 }
.selector .content dl dd.list .select-btn{ padding:0px 0 5px; text-align: center; margin-top: 10px;  display: none;}
.selector .content dl dd.list .select-btn .disabled{padding:4px 13px!important; border:1px solid #e4e4e4; background: #fff; cursor: default;color:#ccc;filter:alpha(opacity=20); -moz-opacity:0.2; -khtml-opacity: 0.2;opacity: 0.2;  }

.selector .content dl dd.all a { display: inline-block; color: #555;}
.selector .content dl dd.all a:hover { color: #e65c17;} 
.selector .content dl dd.all a i { display: inline-block; width: 20px; height: 20px; vertical-align: top; background: url(../img/search.ele.png) no-repeat 4px 7px; border: solid 1px #E6E6E6; margin-left: 7px; -webkit-transition: background-position .15s ease-in-out; -moz-transition: background-position .15s ease-in-out; transition: background-position .15s ease-in-out;}
.selector .content dl dd.all a:hover i { border-color: #e65c17; background-position: 4px -10px;}
.selector-more-value { position: relative; z-index: 2; height: 32px; margin-top: -1px; border-top: solid 1px #E6E6E6;}
.selector-more-value:hover,
.selector-more-value:hover a  { border-color: #e65c17; color: #e65c17;}
.selector-more-value a { display: block; position: absolute; z-index: 1; left: 50%; top: -1px; width: 110px; height: 20px; padding: 6px 0 5px 0; text-align: center; border: solid #E6E6E6; border-width: 0 1px 1px; background-color: #FFF; line-height: 20px;}
.selector-more-value a i { display: inline-block; width: 20px; height: 20px; vertical-align: top; background: url(../img/search.ele.png) no-repeat 4px 7px; margin-left: 5px; -webkit-transition: background-position .15s ease-in-out; -moz-transition: background-position .15s ease-in-out; transition: background-position .15s ease-in-out;}
.selector-more-value:hover a i { background-position: 4px -10px;}
.selector-more-value a.expand i { background-position: 4px -27px;}
.selector-more-value a.expand:hover i { background-position: 4px -44px;}
.selector .content dl dd.select-more{position: absolute; z-index: 2; top: 8px; right: 10px; bottom: 0; text-align: right; background-color: #FFF; border:1px solid #DDD; height: 20px; padding: 0 6px; cursor: pointer; }
.selector .content dl dd.select-more:hover{ color: #e65c17; border-color: #e65c17 }



/*品牌索引*/

.selector .content .nch-brand-tab { margin-bottom: 10px;}
.selector .content .nch-brand-tab li { padding: 0!important; margin: 0!important;}
.selector .content .nch-brand-tab li a { line-height: 20px; text-align: center; display: block; min-width: 16px; padding: 2px 6px !important; position: relative; z-index: 1;}
.selector .content .nch-brand-tab li.current a { color: #FFF; background-color: #e65c17;}
.selector .content .nch-brand-tab li a:hover { text-decoration: none !important; color: #fff !important}
.selector .content .nch-brand-tab li a i.arrow { font-size: 0; line-height: 0; width: 0; height: 0; display: none; margin-left: -6px !important; border-color: #4598D2 transparent transparent; border-style: solid dashed dashed; border-width: 6px; position: absolute; z-index: 1; top: 24px; left: 50%;}
.selector .content .nch-brand-tab li.current a i.arrow { display: block;}
#ncBrandlist { position: relative; z-index: 1; overflow: hidden; max-height: 152px;}
.selector .content .nch-brand-con { padding: 2px;}
.selector .content .nch-brand-con li { width: 126px !important; height: 46px !important; padding: 0!important; margin: 0!important; position: relative; z-index: 1;}
.selector .content .nch-brand-con li:hover { z-index: 2;}
.selector .content .nch-brand-con li a { line-height: 34px!important; text-overflow: ellipsis; white-space: nowrap; text-align: center; padding: 0 5px!important; border: solid 1px #E6E6E6!important; position: absolute; z-index: 1; top: -1px; right: 0; bottom: 0; left: -1px; overflow: hidden;}
.selector .content .search_brand_con li a { line-height: 46px!important;}
.selector .content .nch-brand-con li a:hover { text-decoration: none !important; color: #e65c17!important; background-color: #FFF!important; border-width: 2px!important; border-color: #e65c17!important; top: -2px!important; left: -2px!important;}
.selector .content .nch-brand-con li a img { position: absolute; z-index: 1; top: 8px; left: 17px; width: 90px; height: 30px}
.selector .content .nch-brand-con li a span { background-color: #FFF; line-height: 46px; text-overflow: ellipsis; white-space: nowrap; display: none; padding: 0 5px; position: absolute; z-index: 2; top: 0; left: 0; right: 0; bottom: 0; overflow: hidden;}
.selector .content .nch-brand-con li.selected em{position: absolute; bottom:0px; right: 0px; background:url(../img/select-right.png) no-repeat; display: block; width: 16px; height: 16px; border-color: #e65c17}
.selector .content .nch-brand-con li:hover a span { display: block;}


.QR-layout { position: relative; z-index: 2; text-align: center;}
.QR-layout .sidebar { float: left; width: 210px; position: relative;}
.QR-layout .m-container { margin-left: 220px;}
.secrch_nav_top{width:100%;}


/* ============ */
/* 列表页面筛选条 */
/* ============ */


.sort-bar { display: inline-block; width: 1200px; margin: 0 auto; border-top: solid 1px #DDD;}
.sort-bar-wrap { position: relative; z-index: 1; zoom: 1; height: 37px; padding: 0 8px; border-bottom: 1px solid #E7E3E7; background: #F9F9F9;}
.sort-bar-wrap.top { background: #F1F1F1; z-index: 2}

/* 商品列表排序方式 */
.nch-sortbar-array { display: block; float: left; margin: 6px 13px 6px 0;}
.nch-sortbar-array .screen { margin: 0;}
.nch-sortbar-array .screen li { position: relative; z-index:1; float: left; margin-left: -1px;}
.nch-sortbar-array .screen li:hover { z-index: 2;}
.nch-sortbar-array .screen li a { display: block; height: 23px; padding: 0 9px; border: solid 1px #CCC; background-color: #FFF; font-size: 12px; line-height: 23px; color: #333;}
.nch-sortbar-array .screen li a i { display: inline-block; width: 13px; height: 12px; margin-top: 5px; margin-left: 4px; background: url(../img/search.ele.png) no-repeat 0 -380px; vertical-align: top;}
.nch-sortbar-array .screen li:hover a { background-color: #FFF;}
.nch-sortbar-array .screen li.selected a { border-color: #0B56A4; background-color: #0B56A4; color: #FFF;}

.nch-sortbar-array .screen li a:hover { text-decoration: none;}
.nch-sortbar-array .screen li.selected a.asc i { background-position: 0 -203px;}
.nch-sortbar-array .screen li.selected a.desc i { background-position: 0 -225px;}

/*商品列表筛选条输入框焦点改变宽度*/
.sort-bar-wrap .fold { display: block; float: left; height: 25px; padding: 6px 14px; margin: 0; line-height: 25px; color: #888; overflow: hidden;}
.sort-bar-wrap .fold span .gifts{ color: #888 }
.sort-bar-wrap .fold span .gifts:hover{color: #e65c17}
.sort-bar-wrap .unfold { display: block; float: left; height: 25px; padding: 6px 14px; margin: 0; border-left: solid 1px #E7E7E7; line-height: 26px; color: #888; -webkit-transition: .2s ease-in-out; -moz-transition: -webkit-transform .2s ease-in-out; -o-transition: -webkit-transform .2s ease-in-out; transition: .2s ease-in-out;}
.sort-bar-wrap .block { display: block; white-space: nowrap; overflow: hidden;}
.sort-bar-wrap .input-text { float: left; height: 23px; padding: 0 2px; text-align: left; border: solid 1px #CCC; font-family: Verdana; color: #AAA; line-height: 23px; -webkit-transition: .2s ease-in-out; -moz-transition: -webkit-transform .2s ease-in-out; -o-transition: -webkit-transform .2s ease-in-out; transition: .2s ease-in-out;}
.sort-bar-wrap .input-text:focus { border-color: #E8E8E8 !important; color: #AAA; }
.sort-bar-wrap .line { float: left; width: 12px; height:25px;}
.sort-bar-wrap .btn { float: left; height: 20px; padding: 1px 9px 3px 9px; margin-left: 14px; border: solid 1px #0B56A4; border-radius: 0; background-color: #FFF; font-size: 12px !important; line-height: 20px; color: #0B56A4; -webkit-transition: .2s ease-in-out; -moz-transition: -webkit-transform .2s ease-in-out; -o-transition: -webkit-transform .2s ease-in-out; transition: .2s ease-in-out;}
.sort-bar-wrap .btn:hover { background-color: #0B56A4; color: #FFF; -webkit-transition: .2s ease-in-out; -moz-transition: -webkit-transform .2s ease-in-out; -o-transition: -webkit-transform .2s ease-in-out; transition: .2s ease-in-out;}
/* 商品列表价格段筛选 */
.nch-sortbar-price.fold { width: 118px;}
.nch-sortbar-price .block { width: 250px;}
.nch-sortbar-price .input-text { width: 53px;}
/* 商品起购量 */
.nch-sortbar-since.fold { width: 116px;}
.nch-sortbar-since .block { width: 174px;}
.nch-sortbar-since .input-text { width: 40px;}
/* 商品类型选择 */
.nch-sortbar-filter { position: relative; z-index: 1; display: block; float: left; width: 98px; height: 25px; padding: 6px 0; border: solid #E7E7E7; border-width: 0 1px; margin-left: -1px;}
.nch-sortbar-filter .widget-label { position: absolute; z-index: 1; top: 0; left: 0; right: 0; height: 25px; padding: 6px 14px;}
.nch-sortbar-filter:hover .widget-label { background-color: #FFF; border-color: #E7E7E7;}
.nch-sortbar-filter .widget-label-txt { display: block; float: left; color: #888; line-height: 25px;}
.nch-sortbar-filter .widget-label-arrow { display: block; float: left; width: 13px; height: 7px; background: url(../img/search.ele.png) no-repeat 0 0; margin: 9px 0 0 7px; -webkit-transition: .2s ease-in-out; -moz-transition: -webkit-transform .2s ease-in-out; -o-transition: -webkit-transform .2s ease-in-out; transition: .2s ease-in-out;}
.nch-sortbar-filter:hover .widget-label-arrow { FILTER: progid:DXImageTransform.Microsoft.BasicImage(rotation=2); -moz-transform: rotate(180deg); -moz-transform-origin: 50% 30%; -webkit-transform: rotate(180deg); -webkit-transform-origin: 50% 30%; -o-transform: rotate(180deg); -o-transform-origin: 50% 30%; transform: rotate(180deg); transform-origin: 50% 30%;}
.nch-sortbar-filter .widget-layer { display: none; position: absolute; z-index: 1; top: 37px; left: -1px; right: -1px; border: solid #E7E7E7; border-width: 0 1px 1px 1px; background-color: #FFF;}
.nch-sortbar-filter .widget-layer ul { display: block; overflow: hidden;}
.nch-sortbar-filter .widget-layer ul li { display: block; clear: both;}
.nch-sortbar-filter .widget-layer ul li a { display: block; height: 20px; padding: 6px 14px; text-align: left; color: #888; }
.nch-sortbar-filter .widget-layer ul li a:hover,
.nch-sortbar-filter .widget-layer ul li a.selected { background-color: #F5F5FA; color: #e4393c;}
.nch-sortbar-filter:hover .widget-layer { display: block;}
.nch-sortbar-location { font: 12px/36px "microsoft yahei"; color: #777; vertical-align: top; display: inline-block; *display: inline/*IE6,7*/; padding: 0 0 0 30px; *zoom: 1;}

/*地区筛选*/
.nch-sortbar-filter .widget-location { display: none; position: absolute; z-index: 999; top: 40px; left: -1px; right: -1px; border: solid #D7D7D7; border-width: 0 1px 1px 1px; background-color: #FFF; width: 430px;}
.nch-sortbar-filter .widget-location .section{margin: 8px 8px; padding-top: 6px; border-top: 1px dashed #e0e0e0; overflow: hidden;}
.nch-sortbar-filter .widget-location .section:first-child{border-top: 0px;}
.nch-sortbar-filter .widget-location .section .region{width: 50px; float: left;text-align: right; height: 20px; line-height: 20px; color: #6d6d6d; font-weight: 600; }
.nch-sortbar-filter .widget-location .section .region .area{position: absolute; padding:2px 10px; line-height: 20px; background: #fff; color: #6d6d6d; top: 0px; left: 0px; font-weight: 600;}
.nch-sortbar-filter .widget-location .section ul{ float: right; width: 354px; margin-left: 10px;}
.nch-sortbar-filter .widget-location .section ul li{ display: inline-block; margin-bottom: 5px; }
.nch-sortbar-filter .widget-location .section ul li a{padding:0px 8px; color:#6d6d6d;font-family: "微软雅黑"; cursor: pointer;line-height: 20px; display: block; height: 20px; vertical-align: middle;}
.nch-sortbar-filter .widget-location .section ul li a:hover{ color: #e65c17;}
.nch-sortbar-filter .widget-location .location-search{margin: 8px 0 14px 15px;}
.nch-sortbar-filter .widget-location .location-search .location-input{ height: 21px; border:1px solid #dfdfdf; width: 177px; text-indent: 10px;}
.nch-sortbar-filter .widget-location .lacation-sure{display: inline-block; -moz-user-select: none; margin:10px 0 2px 20px; text-align: center;  vertical-align: top; white-space: nowrap; background-image: none; border: 1px solid transparent; cursor: pointer; font-weight: 400;border-radius: 3px; font-size: 12px; line-height: 1.5; padding: 1px 5px;background-color: #e65c17; border-color: #e65c17; color: #FFF;}
.nch-sortbar-filter .widget-location .lacation-sure:hover{background: #e4393c; border-color: #e4393c;}
.nch-sortbar-filter:hover .widget-location { display: block;}
/**/
.select-gift { line-height: 25px; text-align: left;}
.select-gift .input-gift{background: #fff url(../img/right.png) no-repeat 999px 999px;cursor: pointer; vertical-align: middle; width: 12px; height: 12px; border:1px solid #e4e4e4; margin-right:5px; display: inline-block; }
.select-gift span { display: block; cursor: pointer;}
.select-gift span:hover{color:#e65c17 }
.select-gift span:hover .input-gift{border-color: #e65c17}
.select-gift span.bg-gift .input-gift{background-position: 0px 0px; border-color:#e65c17}

/*分类导航菜单*/
.sort-bar .nch-all-category { display: none;}
.sort-bar .all-category { background-color: transparent; height: 40px;}
.sort-bar .all-category .title { padding: 10px;}
.sort-bar .all-category .title h3 a { font-weight: normal; color: #333; margin-left: 6px;}
.sort-bar .all-category .title i.arrow-down { background-position: -50px 0;}

/* 固定筛选区域 */
.sort-bar.nav-pin { text-align: center;background-color: #F5F5F5; width: 100%; height: 40px; border-top: solid 1px #EAEAEA; border-bottom: solid 1px #CECECE; position: fixed; _position: relative; top: 0; left: 0; z-index:999; }
.sort-bar.nav-pin .sort-bar-wrap { border: none 0;}
.sort-bar .public-top-layout { display: none;}
.sort-bar.nav-pin .public-top-layout { display: block; background-color: transparent; border: none 0; float: right;}



/*大图模式列表页*/
.nch-g-list { position: relative; z-index: 1; width: 1200px; overflow: hidden;}
.nch-g-list .list_pic { display: block; width: 1200; overflow: hidden;}
.nch-g-list li.item { position:relative; z-index: 11; display: block; float: left; width: 228px; height: 375px; margin:4px 6px 0;}
.nch-g-list li:hover { z-index: 12;}
.nch-g-list .goods-content { position: absolute; z-index: 1; top: 0; right: 0; bottom: 0; left: 0; background-color: #FFF; border: solid 1px #FFF; overflow: hidden;
    transition: border-color 0.15s ease;}
.nch-g-list li:hover .goods-content { border: solid 1px #E9E9E9; box-shadow: 0 0 2px 2px #F8F8F8;}

/*商品主图*/
.nch-g-list .goods-pic { background: #FFF; width: 228px; height: 228px;}
.nch-g-list .goods-pic a {border: 1px solid #e9e9e9; line-height: 0; text-align: center; vertical-align: middle; display: table-cell; *display: block; width: 224px; height: 224px; overflow: hidden;}
.nch-g-list .goods-pic img { max-width: 224px; max-height: 224px; margin-top: expression( 220-this.height/2); *margin-top:expression(110-this.height/2)/*IE6,7*/;}
/* 多规格控制商品主图切换 */
.nch-g-list .goods-pic-scroll-show { position: absolute; z-index: 2; top: 192px; left: 0px; width: 228px; height: 32px; filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#CCFFFFFF', endColorstr='#CCFFFFFF');}
.nch-g-list .goods-pic-scroll-show .cBtn { position: absolute; z-index: 1; top: 7px; display: none; width: 16px; height: 16px; border-radius: 8px; font-size: 16px; line-height: 16px; text-align: center; color: #333;}
.nch-g-list .goods-pic-scroll-show .cBtn:hover { background-color: #0b56a4; color: #FFF; }
.nch-g-list .goods-pic-scroll-show .cBtn.prev { left: 7px; }
.nch-g-list .goods-pic-scroll-show .cBtn.next { right: 7px;}
.nch-g-list .goods-pic-scroll-show.handle .cBtn { display: block;} 
.nch-g-list .goods-pic-scroll-show.handle .icon-angle-left i{vertical-align: top; margin-left: 3px;}
.nch-g-list .goods-pic-scroll-show.handle .icon-angle-right i{vertical-align: top; margin-left: 5px;}
.nch-g-list .goods-pic-scroll-show .show-box { position: absolute; z-index: 1; top: 0px; left:0px; width: 228px; height: 32px; overflow: hidden;}
/*.nch-g-list .goods-pic-scroll-show.handle .show-box { left: 25px;}*/
.nch-g-list .goods-pic-scroll-show ul { position: absolute; z-index: 1; top: 0; left: 0; font-size: 0; *word-spacing: -1px/*IE6、7*/; white-space: nowrap; height: 28px;}
.nch-g-list .goods-pic-scroll-show ul li { vertical-align: middle; letter-spacing: normal; word-spacing: normal; display: inline-block; *display: inline/*IE7*/; width: 28px; height: 28px; padding: 0; *zoom:1;}
.nch-g-list .goods-pic-scroll-show ul li a {display: table-cell; *display: block; width: 26px; height: 26px;border: solid 1px #E6E6E6; overflow: hidden; background-color: #FFF; line-height: 0; text-align: center; vertical-align: middle; }
.nch-g-list .goods-pic-scroll-show ul li.selected a,
.nch-g-list .goods-pic-scroll-show ul li a:hover { border-color: #e4393c;}
.nch-g-list .goods-pic-scroll-show ul li img { width: 26px; height: 26px;}
.nch-g-list .goods-info { width: 220px; background-color: #FFF;}
/* 商品价格 */
.nch-g-list .goods-price-offer { position: relative; z-index: 1; display: block; height: 22px; padding: 15px 0 8px 0; color: #E4393C;}
.nch-g-list .goods-price-offer .number-20 .integer,
.nch-g-list .goods-price-offer .number-20 .pointer, 
.nch-g-list .goods-price-offer .number-20 .decimal { font-size: 20px;}
.nch-g-list .goods-price-offer .sale-price { line-height: 22px; text-overflow: ellipsis; white-space: nowrap; max-width: 160px; overflow: hidden;}
.nch-g-list .goods-price-offer i { float: right; height: 14px; padding: 0px 2px; margin-top: 4px; margin-right: 6px; border-radius: 2px; background-color: #e65c17; font-size: 11px; color: #FFF; line-height: 14px;}
/*批发价格*/
.nch-g-list .goods-price-deal { overflow: hidden;}
.nch-g-list .goods-price-deal .deal { display: block; float: left; border-left: dotted 1px #E8E8E8;}
.nch-g-list .goods-price-deal .deal.first { border: none;}
.nch-g-list .goods-price-deal.offer-1 .deal { width: 220px;}
.nch-g-list .goods-price-deal.offer-2 .deal { width: 109px;} 
.nch-g-list .goods-price-deal.offer-3 .deal { width: 72px;}
.nch-g-list .goods-price-deal .deal .number { display: block; height: 16px; margin: 9px 5px 0 10px; color: #E4393C; line-height: 16px;}
.nch-g-list .goods-price-deal .deal em { display: block; height: 16px; margin: 0 5px 4px 10px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; color: #999; line-height: 16px;}
/* 商品名称 */
.nch-g-list .p-name { height: 40px; margin-bottom: 8px; overflow: hidden;}
.nch-g-list .p-name em,
.nch-g-list .p-name i { display:inline; height: 20px; overflow: hidden; line-height: 20px; transition: height .08s ease;}
.nch-g-list .p-name i { font-style: normal; width: 185px; color: #ffaa71; line-height: 20px;}
.nch-g-list .p-name .p-tag { overflow: hidden;float: left; height: 16px; padding: 0 3px; margin-top: 2px; margin-right: 3px; border-radius: 2px; background: #838dc7; font: 12px/16px "Helvetica Neue","Hiragino Sans GB",SimSun,serif; color: #fff;}
.nch-g-list .p-name .p-tag.batch { background-color: #027CFF}
.nch-g-list .p-name .p-tag.empty { background-color: #0A906f}
.nch-g-list .p-name .p-tag.surname { background-color: #863177}
/* 销量、评论 */
.nch-g-list .p-commit { overflow: hidden; width: 100%; height: 18px; margin-top: -3px; margin-bottom: 9px;}
.nch-g-list .p-commit strong { color: #a7a7a7; font-weight: 400;}
.nch-g-list .p-commit strong .num { color: #646fb0; font-family: verdana; font-weight: 700;}
/*店铺*/
.nch-g-list .p-shop { overflow: hidden; height: 18px; line-height: 18px; margin-top: -3px; margin-bottom: 9px;}
.nch-g-list .p-shop span { position: relative; display: inline-block; height: 18px;}
.nch-g-list .p-shop span a { color: #999;}
/*标识*/
.nch-g-list .p-icons { overflow: hidden; zoom: 1; height: 16px; margin-bottom: 12px;}
.nch-g-list .p-icons .goods-icons { overflow: hidden; float: left; height: 16px; text-align: center; padding: 0 3px; margin-right: 3px; border-radius: 2px;background: #F30213; font-family: "Helvetica Neue","Hiragino Sans GB",SimSun,serif; font-style: normal; font-size: 12px; line-height: 16px; color: #FFF; cursor: default;}
.nch-g-list .p-icons .goods-icons2 { overflow: hidden; float: left; height: 14px; text-align: center; padding: 0 3px; margin-right: 3px; border: 1px solid #F30213; border-radius: 2px; font-family: "Helvetica Neue","Hiragino Sans GB",SimSun,serif; font-size: 12px; font-style: normal; line-height: 14px; color: #F30213;}
/*按钮*/
.nch-g-list .p-operate { overflow: hidden; margin-bottom: 10px;}
.nch-g-list .p-operate .p-o-btn { position: relative; float: left; height: 25px; padding: 0 3px 0 24px; border: 1px solid #DDD; background: #fff; line-height: 25px;}
.nch-g-list .p-operate .p-o-btn:hover { border-color: #F30213; z-index: 2;}
.nch-g-list .p-operate .p-o-btn a { display: block; color: #999;}
.nch-g-list .p-operate .p-o-btn a:hover {color: #F30213}
.nch-g-list .p-operate .im { width: 28px;}
.nch-g-list .p-operate .focus { width: 28px; margin-left: -1px;}
.nch-g-list .p-operate .addcart { width: 78px; text-align: center; margin-left: -1px}
.nch-g-list .p-operate .addcart a { display: block; color: #F30213;}
.nch-g-list .p-operate .p-o-btn i { position: absolute; top: 3px; left: 4px; display: block; width: 18px; height: 18px; background: url(../img/search.ele.png) no-repeat; font-style: normal; transition: background-position .15s ease-in-out;}
.nch-g-list .p-operate .im i { background-position: 0 -540px;}
.nch-g-list .p-operate .im i.offline { background-position: 0 -520px;}
.nch-g-list .p-operate .focus i { background-position: 0 -440px;}
.nch-g-list .p-operate .focus:hover i { background-position: 0 -460px;}
.nch-g-list .p-operate .addcart i { background-position: 0 -500px;}


/* 加购物车 */
.nch-g-list .operate-box { display: block; height: 30px; padding: 10px 0;}
.nch-g-list .operate-box .im-btn { float: left; height: 30px }
.nch-g-list .operate-box .im-btn {display: block; height: 20px; line-height: 20px; color: #999;}
.nch-g-list .operate-box .im-btn:hover { color: #e4393c; border-color: #e4393c; background-color: #FFF;}
.nch-g-list .operate-box .im-btn i{display: inline-block; *display: inline; vertical-align: middle; width: 18px; height: 18px; background: url(../img/store/chat_state_01.png) no-repeat -1px -2px;; margin-right: 4px;margin-left: 2px;}
.nch-g-list .operate-box .im-btn i.offline{background-position: -1px -24px;}
.nch-g-list .operate-box .favorite-btn { float: left; width: 80px; height: 30px;}
.nch-g-list .operate-box .favorite-btn a { display: block; height: 20px; padding: 4px 4px; background-color: #FFF; border: solid #DDD 1px; line-height: 20px; color: #999;}
.nch-g-list .operate-box .favorite-btn a:hover { color: #e4393c; border-color: #e4393c; background-color: #FFF;}
.nch-g-list .operate-box .favorite-btn a i {display: inline-block; *display: inline; vertical-align: middle; width: 18px; height: 18px; background: url(../img/search.ele.png) no-repeat 0 -436px; margin-right: 4px;margin-left: 2px;}
.nch-g-list .operate-box .favorite-btn a:hover i {background-position: 0 -454px;}
.nch-g-list .operate-box .shopping-act { float: left; width: 131px; margin-left: -1px;}	
.nch-g-list .operate-box .shopping-act a { display: block; font-size: 12px; line-height: 20px; color: #999; text-align: center; height: 20px; padding: 4px 8px; border: solid 1px #DDD; background-color: #FFF;}
.nch-g-list .operate-box .shopping-act a i { display: inline-block; *display: inline; vertical-align: middle; width: 18px; height: 16px; background: url(../img/search.ele.png) no-repeat 0 -248px; margin-right: 8px;}
.nch-g-list .operate-box .shopping-act a:hover { color: #FFF; text-decoration: none; background-color: #FF500B;}



.nch-g-list .goods-promotion { font: 700 12px/15px "microsoft yahei"; color: #FFF; background: url(../img/2014shop_background_img.png) no-repeat 0 -100px; text-align: center; width: 30px; height: 30px; padding: 20px 9px 15px 9px; position: absolute; z-index: 2; top: 5px; right: 5px;}
.nch-g-list .list_pic dl dd.promotion-price { width:65px; }
.nch-g-list .list_pic dl dd.price span, .nch-g-list .list_pic dl dd.promotion-price span { font-family:Tahoma; font-size: 16px; font-weight: 600; color: #F30; margin-left:2px; _margin-left:1px;}
.nch-g-list .list_pic dl dd.del-price { line-height:20px; color: #AAA; text-decoration:line-through; width:35px; z-index:2; top:230px; left:80px;}
.nch-g-list .list_pic dl dd.freight { color: #666; width: 65px; text-align:right; z-index:1; top:270px; right:12px;}


.nch-g-list .list_pic dl dd.shop { line-height: 21px; width: 105px; z-index:2; top:258px; left:12px;}
.nch-g-list .list_pic dl dd.shop a.name { text-align: left; display: inline-block; max-width: 75px; float: left; text-overflow: ellipsis; white-space: nowrap; overflow:hidden;}
.nch-g-list .list_pic dl dd.shop a.chat { overflow: visible; float: left;}
.nch-g-list .list_pic dl dd.location { color: #666; width: 65px; text-align:right; z-index:1; top:258px; right:12px;}
.nch-g-list .list_pic dl dd.promotion {position: absolute; z-index:2; top:280px; left:12px;}
.nch-g-list .list_pic dl dd.promotion span { line-height:16px; color:#FFF; text-align:center; display:inline-block; height: 16px; float:left; padding: 1px 4px; border-radius:2px; box-shadow: 1px 1px 1px rgba(0,0,0,0.2);}
.nch-g-list .list_pic dl dd.promotion .gb { background-color: #C00;}
.nch-g-list .list_pic dl dd.promotion .xs { background-color: #6C9D26;}
.nch-g-list .list_pic dl dd.seller-intro { z-index:2; top:305px; left:12px; width:170px;}
.nch-g-list .list_pic dl dd.seller-intro ul { margin:0; padding:0; padding-bottom:2px!important; border: dotted 1px #A7CAED; background-color:#F4FAFE; overflow:hidden;}
.nch-g-list .list_pic dl dd.seller-intro ul li { margin:2px 4px; padding:0; line-height:16px; height:16px; width:155px;}
.nch-g-list .list_pic dl dd.seller-intro ul li span { float:left;}
.no-results { color: #AAA; padding: 200px 0; text-align: center;}


/*选规格弹出框*/
.pop-ncs-info-model { display: block; position: relative; z-index: 1; height: 100px; padding: 10px; border-bottom: solid 1px #F5F5F5;}
.pop-ncs-info-model .goods-pic { width: 100px; height: 100px; float: left; margin-right: 20px;}
.pop-ncs-info-model .goods-pic img { max-width: 100px; height: 100px;}
.pop-ncs-info-model .goods-info { position: relative; z-index: 1; float: left; width: 420px; height: 100px;}
.pop-ncs-info-model .goods-info h3 { display: block; max-height: 36px; margin-bottom: 4px; overflow: hidden; font-size: 15px; line-height: 18px; color: #000;}
.pop-ncs-info-model .goods-info h4 { display: block; max-height: 32px; font-size: 12px; line-height: 16px; color: #e65c17;}
.pop-ncs-info-model .goods-info .goods-price { position: absolute; z-index: 1; bottom: 0; left: 0; font-family: Verdana,Tahoma;   font-size: 14px; line-height: 28px; color: #e65c17;}
.pop-ncs-info-model .goods-info .goods-price em { font-size: 20px;}

/*规格值的选择*/
.pop-ncs-spec-model { background-color: #FAFAFA; padding: 10px 0; margin-bottom: 60px;}
.pop-ncs-spec-model dl { font-size: 0; *word-spacing:-1px/*IE6、7*/;}
.pop-ncs-spec-model dl dt,
.pop-ncs-spec-model dl dd { font-size: 12px; line-height: 30px; vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block; *display: inline/* IE6,7 */; min-height: 24px; padding: 2px 0; *zoom:1;}
.pop-ncs-spec-model dl dt { color: #555; width: 105px; text-align: right; padding-right: 15px;}
.pop-ncs-spec-model dl dd { width: 420px;}
.pop-ncs-spec-model ul { font-size: 0; *word-spacing:-1px/*IE6、7*/;}
.pop-ncs-spec-model ul li { vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block; *display: inline/*IE6,7*/; margin: 0 5px 5px 0; position: relative; z-index: 1; *zoom:1;}
.pop-ncs-spec-model ul li a {font-size: 12px; color: #000; text-decoration: none; background: #FFF none; text-align: center; white-space: nowrap; position: relative; z-index: 1; white-space: nowrap; display: block; min-width: 24px; height: 28px; border: 1px solid #E1E1E1; line-height: 28px; cursor: pointer; padding: 0 5px;}
.pop-ncs-spec-model ul li.sp-img a { height: 34px; padding: 0 5px 0 37px; background-color: #FFF; font-size: 12px; color: #999; line-height: 34px;}
.pop-ncs-spec-model ul li.sp-img a i { display: block; position: absolute; z-index: 1; top: 2px; left: 2px; width: 30px; height: 30px; overflow: hidden; margin-right: 5px;}
.pop-ncs-spec-model ul li a:hover, 
.pop-ncs-spec-model ul li a.hovered { border-color: #E2041B;}
.pop-ncs-spec-model ul li a sub { display: none;}
.pop-ncs-spec-model ul li a.hovered sub { font-size: 0; line-height: 0; background: url(../img/shop/2014_ncs_public_img.png) no-repeat 0 0; display: block; width: 11px; height: 11px; position: absolute; z-index: 1; right: 0; bottom: 0;}

.ncs-pop-buy-model { position: absolute; z-index: 1; bottom: 0; height: 30px; left: 0; right: 0; border-top: solid 1px #E6E6E6; padding: 15px 10px;}
.ncs-pop-buy-model .shopping-num { float: left; margin: 1px 0 0 200px;}
.ncs-pop-buy-model .shopping-num h4 { float: left; margin-right: 10px; font-size: 12px; color: #999; line-height: 28px;}
.ncs-pop-buy-model .shopping-num input { width: 30px; height: 26px; float: left; border: solid 1px #E6E6E6; color: #555; line-height: 26px; padding: 0; border-radius: 2px; text-align: center;}
.ncs-pop-buy-model .shopping-num span { float: left; width: 16px; height: 28px; margin-left: 2px;}
.ncs-pop-buy-model .shopping-num a { display: block; width: 16px; height: 14px; background: url(../img/search.ele.png) no-repeat; text-indent: -99em; line-height: 14px; overflow: hidden; cursor: pointer;}	
.ncs-pop-buy-model .shopping-num .add { background-position: 0 -348px;}
.ncs-pop-buy-model .shopping-num .decrease { background-position: 0 -362px;}
.ncs-pop-buy-model .shopping-num .dis_decrease {  background-position: 0 -334px;}
.ncs-pop-buy-model .shopping-btns { float: right;}
.ncs-pop-buy-model .shopping-btns a { display: inline-block; *display: inline; margin-left: 10px; font-size: 12px; line-height: 20px; color: #FFF; text-align: center; height: 20px; padding: 4px 8px; border: solid 1px #F32613; background-color: #F7675B; border-radius: 2px; *zoom: 1;}
.ncs-pop-buy-model .shopping-btns a.url { background-color: #FAFAFA; border-color: #D7D7D7; color: #555;}
.ncs-pop-buy-model .shopping-btns a i { display: inline-block; *display: inline; vertical-align: middle; width: 18px; height: 16px; background: url(../img/search.ele.png) no-repeat; margin-right: 8px;}
.ncs-pop-buy-model .shopping-btns a.cart i { background-position: 0 -248px;}
.ncs-pop-buy-model .shopping-btns a:hover { color: #FFF; text-decoration: none; background-color: #F44233;}
.ncs-pop-buy-model .shopping-btns a.url:hover { background-color: #F5F5F5; color: #333;}



/*店铺搜索*/
.search-store{ margin: 20px auto; width: 1200px; text-align: left; position:relative; z-index: 0}
.search-store ul .store-list{margin-bottom: 15px; height: 223px; position: relative; color: #444; background: #f8f8f8 url(../img/store-bg.png) no-repeat 0 100%; }
.search-store ul .store-list .store-left{float: left; position: relative; width: 390px; height: 223px; }
.search-store ul .store-list .store-left .store-info{ width: 360px; padding:0 10px 0 20px; margin: 20px 0px; overflow: hidden;}
.search-store ul .store-list .store-left .store-info .store-img{ float: left; }
.search-store ul .store-list .store-left .store-info .store-img a{display:block;width: 62px; height:62px; border: 1px solid #efefef; background: #fff;}
.search-store ul .store-list .store-left .store-info .store-img a img{max-height: 62px; max-width: 62px;}
.search-store ul .store-list .store-left .store-info .store-info-o{ margin-left: 74px; position:relative}
.search-store ul .store-list .store-left .store-info .store-info-o .store-name{ max-width: 165px; height: 20px; font-size: 12px; font-weight: 600; color: #333; line-height: 20px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; display: inline-block;}
.search-store ul .store-list .store-left .store-info .store-info-o .goods_self{ border:1px solid #e65c17; color: #e65c17; padding: 0px 2px; border-radius:3px; font-family: "微软雅黑"; font-weight: normal;}
.search-store ul .store-list .store-left .store-info .store-info-o i{display: inline-block; *display: inline; width: 18px; height: 18px; background: url(../img/store/chat_state_01.png) no-repeat -1px -2px; cursor: pointer;}
.search-store ul .store-list .store-left .store-info .store-info-o i.offline{background-position: -1px -24px;}
.search-store ul .store-list .store-left .store-info .store-info-o p{ color: #999; font-size: 12px; line-height: 20px; height: 20px; padding-top:3px}
.search-store ul .store-list .store-left .store-info .store-info-o p:first-child{padding-top: 0;}
.search-store ul .store-list .store-left .store-info .store-info-o p span{ color: #333;}
.search-store ul .store-list .store-left .store-info .store-info-o p span.store-major{ width: 226px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; display: inline-block; vertical-align: middle;}
.search-store ul .store-list .store-left .store-activity{ padding:0px 10px 0 20px}
.search-store ul .store-list .store-left .store-activity .myh{ display:inline-block; padding:2px 10px; max-width:340px; height: 16px; line-height: 16px; color:#fff; background: #F59C1A; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; cursor: pointer;}
.search-store ul .store-list .store-left .store-activity .yhq{ width: 360px; height: 20px; overflow: hidden;}
.search-store ul .store-list .store-left .store-activity .yhq a{display:inline-block; padding:2px 10px; max-width:340px; height: 16px; line-height: 16px; color:#fff; background: #49B6D6; cursor: pointer; margin-right: 5px;}
.search-store ul .store-list .store-left .store-sever{position: absolute; bottom:16px; padding:0 10px 0 20px; z-index: 1000}
.search-store ul .store-list .store-left .store-sever .store-volume{ display: inline-block; margin-right: 6px;}
.search-store ul .store-list .store-left .store-sever .store-volume span{ font-size: 12px; color: #999; margin-right: 10px;line-height: 20px; vertical-align: middle;}
.search-store ul .store-list .store-left .store-sever .store-volume span em{ color: #e65c17; font-weight: 600;}
.search-store ul .store-list .store-left .store-sever .store-volume span:last-child{margin-right: 0px;}
.search-store ul .store-list .store-left .store-sever .store-privilege{display: inline-block; position:relative; vertical-align: middle;}
.search-store ul .store-list .store-left .store-sever .store-privilege em{ display:inline-block; margin-right: 5px; width: 16px; height: 16px; background:url(../img/store/store-sever.png) no-repeat; vertical-align: middle;}
.search-store ul .store-list .store-left .store-sever .store-privilege em.pf{background-position: 0 0; cursor: pointer;}
.search-store ul .store-list .store-left .store-sever .store-privilege em.xb{background-position: -24px 0px; background-size: 40px; }
.search-store ul .store-list .store-left .store-sever .store-privilege .popup-shopinfo{ display:none;position:absolute; top:28px; left: -14px ;width: 240px; z-index: 999;}
.search-store ul .store-list .store-left .store-sever .store-privilege .popup-shopinfo .popup-shopinfo-arrow{ position: absolute; top:-7px; left: 11px;line-height: 14px;width: 22px; height: 8px; background:url(../img/store/arrow-top.png) no-repeat ;}
.search-store ul .store-list .store-left .store-sever .store-privilege .popup-shopinfo .popup-wrap{padding:6px 8px; border-radius: 3px; border: 1px solid #999; background: #fff; overflow: hidden;}
.search-store ul .store-list .store-left .store-sever .store-privilege .popup-shopinfo .popup-wrap .ncs-store-info .sub .ncs-detail-rate { display: block; padding: 5px; overflow: hidden; border-bottom: dotted 1px #E1E1E1;}
.search-store ul .store-list .store-left .store-sever .store-privilege .popup-shopinfo .popup-wrap .ncs-detail-rate dl { display: block; float: left; width: 46%; padding: 0 2%; border: none;}
.search-store ul .store-list .store-left .store-sever .store-privilege .popup-shopinfo .popup-wrap .ncs-detail-rate dl dt { display: block; height: 20px; margin-bottom: 5px; line-height: 20px; color: #444;}
.search-store ul .store-list .store-left .store-sever .store-privilege .popup-shopinfo .popup-wrap .ncs-detail-rate dl dd { display: block; width: auto; height: 15px; padding: 0 0 5px 0; line-height: 15px; color: #666;}
.search-store ul .store-list .store-left .store-sever .store-privilege .popup-shopinfo .popup-wrap .ncs-detail-rate dd div { display: inline-block;}
.search-store ul .store-list .store-left .store-sever .store-privilege .popup-shopinfo .popup-wrap .ncs-detail-rate dd span {padding: 0 3px; margin-right: 5px;}
.search-store ul .store-list .store-left .store-sever .store-privilege .popup-shopinfo .popup-wrap .ncs-detail-rate .credit { color: #555; display: inline-block; width: 35px; margin-left: 4px;}
.search-store ul .store-list .store-left .store-sever .store-privilege .popup-shopinfo .popup-wrap .ncs-detail-rate dd div i { background: url(../img/store/store_pic.png) no-repeat; vertical-align: middle; display: inline-block; width: 8px; height: 7px; margin-right: 3px;}
.search-store ul .store-list .store-left .store-sever .store-privilege .popup-shopinfo .popup-wrap .ncs-detail-rate .high { color: #e4393c;}
.search-store ul .store-list .store-left .store-sever .store-privilege .popup-shopinfo .popup-wrap .ncs-detail-rate .high span { background-color: #e4393c; color: #FFF;}
.search-store ul .store-list .store-left .store-sever .store-privilege .popup-shopinfo .popup-wrap .ncs-detail-rate .high i { background-position: 0 -70px;}
.search-store ul .store-list .store-left .store-sever .store-privilege .popup-shopinfo .popup-wrap .ncs-detail-rate .equal { color: #483E39;}
.search-store ul .store-list .store-left .store-sever .store-privilege .popup-shopinfo .popup-wrap .ncs-detail-rate .equal span { background-color: #483E39; color: #FFF; }
.search-store ul .store-list .store-left .store-sever .store-privilege .popup-shopinfo .popup-wrap .ncs-detail-rate .equal i { background-position: -20px -70px;}
.search-store ul .store-list .store-left .store-sever .store-privilege .popup-shopinfo .popup-wrap .ncs-detail-rate .low { color: #00ACAC;}
.search-store ul .store-list .store-left .store-sever .store-privilege .popup-shopinfo .popup-wrap .ncs-detail-rate .low span { background-color: #00ACAC; color: #FFF;}
.search-store ul .store-list .store-left .store-sever .store-privilege .popup-shopinfo .popup-wrap .ncs-detail-rate .low i { background-position: -10px -70px;}
.search-store ul .store-list .store-left .fav-store{ position: absolute; top:20px; right:0px; text-align: center; z-index: 999;}
.search-store ul .store-list .store-left .fav-store a{font-size: 12px; line-height: 20px; color: #333; background-color: #F5F5F5; vertical-align: top; text-align: center; display: inline-block; *display: inline/*IE7*/; height: 20px; padding: 3px 10px; border: solid 1px #CCC; *zoom: 1;}

.search-store ul .store-list .store-right{ float: right; position: relative;}
.search-store ul .store-list .store-right .warp{ padding:15px 15px 5px; }
.search-store ul .store-list .store-right .warp .store-goods-container{ width: 780px; overflow: hidden;}
.search-store ul .store-list .store-right .warp .store-goods-container .store-goods{ width: 180px; float: left; margin-right: 20px;}
.search-store ul .store-list .store-right .warp .store-goods-container .store-goods:last-child{ margin-right: 0px;}
.search-store ul .store-list .store-right .warp .store-goods-container .store-goods .goods{ display: block; width: 150px; height: 150px; margin-left: 15px; background-color: #FFF; }
.search-store ul .store-list .store-right .warp .store-goods-container .store-goods .goods img{ max-height: 150px; max-width: 150px;}
.search-store ul .store-list .store-right .warp .store-goods-container .store-goods .goods-info{line-height: 20px; color: #999;}
.search-store ul .store-list .store-right .warp .store-goods-container .store-goods .goods-info .goods-name a{ padding:0 5px;display: block; width: 170px; height: 18px; line-height: 18px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; color: #333;}
.search-store ul .store-list .store-right .warp .store-goods-container .store-goods .goods-info .goods-name a:hover{color: #e65c17;}
.search-store ul .store-list .store-right .warp .store-goods-container .store-goods .goods-info .goods-price { overflow: hidden; padding: 0 5px; text-align: left;}
.search-store ul .store-list .store-right .warp .store-goods-container .store-goods .goods-info .goods-price .number { display:inline-block; width: 80px; color: #e65c17; overflow: hidden;}
.search-store ul .store-list .store-right .warp .store-goods-container .store-goods .goods-info .goods-price .sales { float:right; font-size: 12px; color: #999;}
.search-store ul .store-list .store-right .warp .store-goods-container .store-goods .goods-info .goods-price .sales strong {display: inline; font-size: 12px; font-weight: normal; color: #999; width: auto;}
/*到货通知弹窗*/
.notice_arrival_box{width:1040px;height:300px;border:3px solid #e0e0e0; position: fixed;z-index:999;top:0;right:0;bottom:0;left:0;margin:auto; background: #fff;font-size:14px;display:none;}
.notice_arrival_box p{width:990px;margin:0 auto; overflow: hidden;}
.notice_arrival_box .p1{margin-top:15px;color: #333333;}
.notice_arrival_box .p1 .left{ float:left}
.notice_arrival_box .p1 .right{ float:right;cursor:pointer;}
.notice_arrival_box .p2{margin-top:15px;color: #0b56a4;}
.notice_arrival_box form{width:470px;margin:30px auto 0;}
.notice_arrival_box form em{color: #ff0000;height:30px;line-height: 30px}
.notice_arrival_box form div{overflow: hidden;height:32px;line-height: 30px;margin-bottom:28px;}
.notice_arrival_box form label{display:block;float: left;height:30px;line-height: 30px;color: #787878;}
.notice_arrival_box form input{ display:block;float:right;width:338px;height:30px;line-height: 30px;border:1px solid #e0e0e0;background: #fff;text-indent: 1em;}
.notice_arrival_box form button{display:block;margin:0 auto;width:225px;height:30px;line-height: 30px;background: #0b56a4;text-align:center;color:#fff;border:none;cursor:pointer;}
/*确认到货通知弹窗*/
.confirmation_arrival_notice{width:391px;height:210px;border:3px solid #e0e0e0; position: fixed;z-index:999;top:0;right:0;bottom:0;left:0;margin:auto; background: #fff;font-size:14px; display: none;}
.confirmation_arrival_notice .p1{height:34px;line-height: 34px;font-size:14px;color: #333333; background: #f1f1f1;text-indent: 1em; }
.confirmation_arrival_notice dl{text-align: center;margin-top:23px;}
.confirmation_arrival_notice dt{width:31px;height:31px;margin:0 auto;}
.confirmation_arrival_notice dt img{width:31px;height:31px;}
.confirmation_arrival_notice dd{font-size:14px;color: #333333;margin-top:12px;}
.confirmation_arrival_notice .dd2{font-size:12px}
.confirmation_arrival_notice a{display:block;width:100%;height: 34px;line-height: 34px;text-align: center;background: #0b56a4;color: #fff; position: absolute;bottom:0;left:0;cursor:pointer;}
/*遮罩层*/
.mask-box{position: fixed;top:0;left:0;width:100%;height:100%; background:rgba(0,0,0,0.4);z-index: 999;display: none;}
.list_pic_goods_box{ background: #fff;}


.floating_layer a:hover{
	color:#fff;
}
.search_brand_con li a{display:block;height:46px !important;line-height: 46px !important;}
.search_stick {position:fixed;top:0;}
/*二期搜索banner*/
.two_search_banner{width:1200px;height:428px;margin:0 auto;}
.two_search_banner img{width:1200px;height:428px;}
/*秒杀活动新增样式*/
.seckill_spike_list_box{width:1200px;margin:0 auto;overflow: hidden}
.seckill_spike_list_box .spik_list_banner{width:1200px;margin:0 auto;}
.seckill_spike_list_box .spik_list_banner img{width:100%}
.seckill_spike_list_box .spik_list_title{width:1200px;height: 64px;line-height: 64px;text-align: center;font-size:24px;margin:0 auto;overflow: hidden}

.seckill_spike_list_box{padding-bottom:10px;}
.seckill_spike_list_box .spike_price{width:224px;height:48px;margin-top:10px;background:url(../img/time_spike_02.png) no-repeat; background-position:100%;}
.seckill_spike_list_box .spike_price .div1{width:50%;font-size:14px;}
.seckill_spike_list_box .spike_price .left{float:left;color: #fff;text-indent: 0.5rem;}
.seckill_spike_list_box .spike_price .price1{margin-top:4px;}
.seckill_spike_list_box .spike_price .right{float:right;line-height: 48px;text-align: center;text-decoration: line-through}
.seckill_spike_list_box .spike_price .div1 p{height: 16px;}
.seckill_spike_list_box .slide{display: block;float:left;}
.seckill_spike_list_box .promotion_text{width:224px;display: block;margin:0 auto;padding:0 !important;}
.seckill_spike_list_box .promotion_content{margin-bottom:2px !important;}

.seckill_spike_list_box .count_down{    width: 1200px;height: 64px;line-height: 64px;text-align: center;font-size: 24px;margin: 0 auto;overflow: hidden;}
.seckill_spike_list_box .count_down .i_title{width:125px;}
.seckill_spike_list_box .count_down b{display:block;float: left;}
.seckill_spike_list_box .count_down span{display:block;float: left;width:47px;height: 32px;line-height: 32px;font-size:30px;color: #fff;background:#a30603;text-align: center;overflow: hidden;}
.seckill_spike_list_box .count_down i{height: 32px;line-height: 32px;display: block;float: left;padding:0 2px;}
.seckill_spike_list_box .count_down .spik_list_ti{width:380px;height:32px;margin:15px auto;overflow: hidden}

.seckill_spike_list_box{margin-top:0 !important;}
.seckill_spike_list_box .swiper-button-prev, .seckill_spike_list_box .swiper-button-next{opacity: 0.3;bottom:0;margin:auto;z-index:999 !important;}
.seckill_spike_list_box .swiper-button-prev:hover, .seckill_spike_list_box .swiper-button-next:hover{opacity: 0.5}


